
<div class="container-fluid ">
    <nav class="navbar navbar-expand-lg">
       <p class="line1"><strong style="font-size: 2.5rem;">"LET US<br><br> TAKE CARE<br><br>OF YOUR HOME<br><br>IN WAYS THAT WILL AMAZE YOU"</strong></p>
      
    </nav>
    <h3 style="color: black;"><marquee><b><em >"So that you can enjoy doing things you love".</em></b></marquee></h3>
    </div>
    <div class="container">
        <h2 class="line2" style="color: black;">Avg.Customer Ratings</h2>
        <h6 style="font-size: 2rem;" class="stars">
          <span style="font-size: 2rem;" class="fa fa-star checked"></span>
          <span style="font-size: 2rem;" class="fa fa-star checked"></span>
          <span style="font-size: 2rem;" class="fa fa-star checked"></span>
          <span style="font-size: 2rem;" class="fa fa-star checked"></span>
          <span style="font-size: 2rem;" class="fa fa-star checked "></span><br>
          <p class="line3">Over 75,000,000 Reviews</p>
        </h6><br>
    </div>
    <div class="container">
        <hr >
        <h2 style="text-align: center;" class="line3"><strong>Popular QuickMAID Services</strong></h2>

    </div>
     
   <div class="container">

    
    <div class="card  shadow-lg p-0 mb-5 bg-body rounded "  style="width: 18rem;">
        <img class="img-fluid" src="https://media.istockphoto.com/photos/courtyard-at-dusk-picture-id1323942539?b=1&k=20&m=1323942539&s=170667a&w=0&h=O85anQaPkvlAMt5awGB1UACuMFzgsQlQJQy9D7JH4XU=" class="card-img-top" alt="image">
        <div class="card-body">
          <h5 class="card-title"><b>QuickMAID GARDEN</b></h5>
          
          <h6>Rating</h6>
          <span  class="fa fa-star checked"></span>
          <span  class="fa fa-star checked"></span>
          <span  class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span  class="fa fa-star checked"></span>
          <button style="float:right;" type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="#">Make order</button>
        </div>
        </div>
        <div  class="card  shadow-lg p-0 mb-5 bg-body rounded "  style="width: 18rem;">
            <img class="img-fluid" src="https://images.unsplash.com/photo-1505691723518-36a5ac3be353?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8aG9tZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60" class="card-img-top" alt="image">
            <div class="card-body">
              <h5 class="card-title"><b>QuickMAID HOME</b></h5>
              
              <h6>Rating</h6>
              <span  class="fa fa-star checked"></span>
              <span  class="fa fa-star checked"></span>
              <span  class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <button style="float:right;" type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="#">Make order</button>
            </div>
            </div>
            <div class="card  shadow-lg p-0 mb-5 bg-body rounded "  style="width: 18rem;">
                <img class="img-fluid" src="https://images.unsplash.com/photo-1497215728101-856f4ea42174?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8b2ZmaWNlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" class="card-img-top" alt="image">
                <div class="card-body">
                  <h5 class="card-title"><b>QuickMAID BUSINESS</b></h5>
                  
                  <h6>Rating</h6>
                  <span class="fa fa-star checked"></span>
                  <span  class="fa fa-star checked"></span>
                  <span  class="fa fa-star checked"></span>
                  <span  class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <button style="float:right;" type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="#">Make order</button>
                </div>
                </div>
          </div>

            <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">WELCOME TO QuickMAID Services.</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form id="palace">
              <!-- Name -->
              <select class="form-select"  required aria-label="Default select example">
                <option selected>select yout Area</option>
                <option id="neapolitan" name="pizz" value="1" selected>Karen</option>
                <option id="chicago" name="pizz" value="2" selected>Westlands</option>
                <option id="new_york_style" name="pizz" value="3" selected>Rongai</option>
                <option id="sicilian" name="pizz" value="4" selected>Syokimau</option>
                <option id="greek" name="pizz" value="5" selected>Kitengela</option>
                <option id="california" name="pizz" value="6" selected>Kileleshwa</option>
                <option id="detroit" name="pizz" value="7" selected>Kitusuru</option>
                <option id="saint_louis" name="pizz" value="8" selected>Parklands<option>
              </select>
              <!-- size -->
              <div class="mb-3">
                <label for="recipient-name" class="col-form-label"><b>Choose your preference time;</b></label>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="pizza" id="small" value="small" checked>
                  <label class="form-check-label" for="flexRadioDefault1">
                  Morning-800
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="pizza" id="medium"  value="medium" checked>
                  <label class="form-check-label" for="flexRadioDefault2">
                    Midday-1000
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="pizza" id="large" value="large" checked>
                  <label class="form-check-label" for="flexRadioDefault2">
                    Evenings-1500
                  </label>
                </div>
              </div>
               <!--crust-->
               <div class="mb-3">
                <label for="message-text" class="col-form-label"><b>Choose Cleaning Area</b></label>
                <label for="recipient-name" class="col-form-label"><b>Extras</b></label>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="crusty" id="crispy" value="crispy" checked>
                  <label class="form-check-label" for="flexRadioDefault1">
                  Compound-100
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="crusty" id="stuffed" value="stuffed"checked>
                  <label class="form-check-label" for="flexRadioDefault2">
                    backyard-100
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="crusty" id="gluten_free" value="gluten_free" checked>
                  <label class="form-check-label" for="flexRadioDefault2">
                    Garbage-100
                  </label>
                </div>
               </div>
               <!--Toppings-->
               <div class="mb-3">
                <label for="message-text" class="col-form-label"><b>Choose extra work</b></label>
                <label for="recipient-name" class="col-form-label"><b>ings</b>
                </label>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="toppings" id="pepperoni"value="pepperoni" checked>
                  <label class="form-check-label" for="flexRadioDefault1">
                    Feeding birds-50
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="toppings" id="supreme" value="supreme"  checked>
                  <label class="form-check-label" for="flexRadioDefault2">
                    Watering flowers-50
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="toppings" id="hawaiian" value="hawaiian"   >
                  <label class="form-check-label" for="flexRadioDefault2">
                    Folding-50
                  </label>
                </div>
                <!-- quantity -->
                <div>
                  <h6>Number of Employees</h6>
                  <input id="number" name="quantity" type="number" min="1" required>
                </div>
               </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
               <button id="add" type="submit" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal2">Click to Add</button>
              </div>
          </form>
        </div>
       
      </div>
    </div>
  </div>


  <!-- Modal checkout -->

<!-- Modal -->
<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header float-right">
                <h5>Kibandaski Checkout Payment</h5>
                <div class="text-right"> <i data-dismiss="modal" aria-label="Close" class="fa fa-close"></i> </div>
            </div>
            <div class="modal-body">
                <div>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">Area</th>
                                <th scope="col">Time</th>
                                <th scope="col">Cleaning area</th>
                                <th scope="col">Extra Work</th>
                                <th scope="col">Number of employees</th>
                                <th scope="col">Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                              <th scope="col" id="name"></th>
                              <th scope="col" id="size"></th>
                              <th scope="col" id="crust"></th>
                              <th scope="col" id="toppings"></th>
                              <th scope="col" id="quantity"></th>
                              <th scope="col" id="price"></th> 
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>

              <button id="proceed"type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal1" data-bs-whatever="@getbootstrap">Proceed to Checkout</button>
           </div>
        </div>
    </div>
</div>

<!-- end of modal checkout -->    

<!-- Delivery info modal -->


<div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">QuickMAID Checkout Confirmation Form</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form class="forms">
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">NAME:</label>
            
            <input id="namee" type="text " class="form-control  bg-transparent"  placeholder="Name..." required >
          </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">CONTACTS:</label>
            
            <input id="contactt" type="text " class="form-control  bg-transparent"  placeholder="Contact..." required >
          </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">DESTINATION:</label>
            
            <input id="destinationn" type="text " class="form-control  bg-transparent"  placeholder="Destination..." required >
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
        <button id="btnn" type="button" class="btn btn-secondary">Order</button>
        <span id="end"></span>
      </div>
    </div>
  </div>
</div>
<!-- end of delivery info modal -->
  
    <div class="container">
      <div class="work"><br>
        <h2 style="margin-top: 5rem;" id="title">HOW IT WORKS.</h2>
        <ul class="list" >
            <li>Select the service that you need</li><br>
            <li>Get your nanny matched by QuickMAID</li><br>
            <li>Manage Everything online</li><br>
            <p>Enjoy Your Happy Home😃</p>
        </ul>
      </div>  
        

    </div>
          