
<body>
    <section  class="we-offer-area text-center bg-gray">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="site-heading text-center">
                        <h2>What we <span>Offer</span></h2>
                        <h4>Let us take care of your home
                            So you can enjoy doing the things you love</h4>
                    </div>
                </div>
            </div>
                <div class="row our-offer-items less-carousel">
                    <!-- Single Item -->
                    <div class="col-md-4 col-sm-6 equal-height">
                        <div class="item">
                            <i class="fas fa-pen-fancy"></i>
                            <h4>House keeping</h4>
                            <p>
                                Quickmaid now allows Kenyans to book custom cleaning options and connecting them with trusted cleaners from their comfort of the own home has made us the go-to service for home cleaning.. 
                            </p>
                        </div>
                    </div>
                    <!-- End Single Item -->

                    <!-- Single Item -->
                    <div class="col-md-4 col-sm-6 equal-height">
                        <div class="item">
                            <i class="fas fa-dharmachakra"></i>
                            <h4>Nanny services</h4>
                            <p>
                                Our easy-to-use preference choices allow you to refine your search. You can search by distance or city and sort by options such as hourly pay rate, education, languages spoken, and see profiles with documents. 
                            </p>
                        </div>
                    </div>
                    <!-- End Single Item -->

                    <!-- Single Item -->
                    <div class="col-md-4 col-sm-6 equal-height">
                        <div class="item">
                            <i class="fas fa-tasks"></i>
                            <h4>Laundry</h4>
                            <p>
                                Laundry Services, we have adopted quality assured cleaning protocols, excellent washing detergents and fabric softeners and fresheners. All our staff are trained on how to clean various types of colored and white fabrics as well as remove stains. 
                        </div>
                    </div>
                    <!-- End Single Item -->

                    <!-- Single Item -->
                    <div class="col-md-4 col-sm-6 equal-height">
                        <div class="item">
                            <i class="fas fa-tachometer-alt"></i>
                            <h4>Products</h4>
                            <p>
                                we use gentlte softners,toxin free products that will gives longevity to your household items. 
                            </p>
                        </div>
                    </div>
                    <!-- End Single Item -->

                    <!-- Single Item -->
                    <div class="col-md-4 col-sm-6 equal-height">
                        <div class="item">
                            <i class="fas fa-recycle"></i>
                            <h4>Our promises</h4>
                            <p>
                                We want to ensure that you are 100% happy and satisfied with our service. If you are unhappy in any way, our support team is on standby ready to help.
                            </p>
                        </div>
                    </div>
                    <!-- End Single Item -->

                    <!-- Single Item -->
                    <div class="col-md-4 col-sm-6 equal-height">
                        <div class="item">
                            <i class="fas fa-headset"></i>
                            <h4>24/7 Support</h4>
                            <p>
                                we operate 24/7. 
                            </p>
                        </div>
                    </div>
                    <!-- End Single Item -->
                </div>
        </div>
    </section>
</body>
